:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-blue: #5f33e1;
  --color-yellow: #ffe5a4;
  --color-pink: #f778ba;
  --color-light-blue: #ebe4ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100dvh;
}

#app {
  max-width: 540px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  cursor: default;

  svg {
    width: 36px;
    cursor: pointer;
    transition: transform 0.3s ease, stroke 0.3s ease;
  }

  svg:hover {
    stroke: var(--color-blue);
    transform: scale(1.1);
  }
}

#home-main {
  display: grid;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
  height: 113%;
  scrollbar-width: none;
}

.project-tile {
  height: 160px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  gap: 15px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-tile:hover {
  background-color: var(--color-light-blue);
}

footer {
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  height: 115px;

  button {
    width: 33%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    background-color: var(--color-blue);
    font-weight: 500;
    color: white;
  }

  button:hover {
    background-color: hsl(255, 74%, 44%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

#project-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.task-tile {
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 0 20px;
  text-align: left;
  
  background-color: white;

  div:nth-of-type(1) {
    text-align: right;
    padding-right: 10px;
    font-size: 3rem;
  }

  div:nth-of-type(2) {
    text-align: right;
    font-size: 2rem;
    padding-right: 10px;
    color: grey;
  }
}

.task-tile:hover {
  background-color: var(--color-light-blue);
}

#task-main {
  display: grid;
  padding: 20px;
  height: 200px;
}

.task-info {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr;
  text-align: left;
  font-size: 1.25rem;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  label {
    color: grey;
    font-size: 0.75rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
